<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel = "stylesheet" href="css/todo.css" />
        <script src="Vue/vue.js"></script>
    </head>
    <body>
        <div class = "container" id="container">
            <div>
                <h2>Jquery To Do List</h2>
                <p>
                    <em>Simple Todo List with adding and filter by diff status.</em>
                </p>
            </div>
            <div >
                <input v-model="inputValue" class="input-text" type="text" name="ListItem">
                <div id="button" @Click="addItem">Add</div>
            </div>
            <br />
            <ol>
                <list-item v-for="item in list" 
                            :content="item"></list-item>
                 <!-- <li v-for="item in list" class="checked">
                    <input name="done-todo" type="checkbox" class="done-todo">
                    <span>内容</span>
                </li>  -->
            </ol>
        </div>
        
        <script>
            var listItem = {
                props:['content'],
                template:
                '<li>' + 
                    '<input name="done-todo" type="checkbox">' +
                    '<span>{{content}}</span>' +
                '</li>'
            };

            var container = new Vue({
                el:'#container',
                data:{
                    inputValue: '',
                    list: []
                },
                methods:{
                    addItem: function(){
                        this.list.push(this.inputValue);
                        this.inputValue = '';
                    }
                },
                components:{
                    ListItem: listItem
                }
            });
        </script>
    </body>
</html>