<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel = "stylesheet" href="css/todo.css" />
        <script src="Vue/vue.js"></script>
    </head>
    <body>
        <div class = "container" id="container">
            <div>
                <h2>Jquery To Do List</h2>
                <p>
                    <em>Simple Todo List with adding and filter by diff status.</em>
                </p>
            </div>
            <div>
                <input v-model="inputValue" class="input-text" type="text" name="ListItem">
                <div id="button" @Click="addItem">Add</div>
            </div>
            <br />
            <div>
                <ol>
                    <list-item v-for="item in list" 
                                :content="item"></list-item>
                </ol>
            </div>

            <div>
                <ul id="filters">
                    <my-filter v-for="item in filterList" 
                                :item="item"></my-filter>
                </ul>
            </div>
        </div>
        
        <script>
            var myFilter ={
                //el:'#filterGroup',
                props:['item'],               
                template:
                    '<li>' + 
                        '<a href="#" data-filter="all" @click="btnClick">{{item}}</a>' +
                    '</li>',
                data: function(){
                    return{
                        
                    } 
                },
                methods:{
                    btnClick: function(){
                        
                    }
                }
            };


            var listItem = {
                props:['content'],           
                template:
                '<li :class="[checked]">' + 
                    '<input name="done-todo" type="checkbox" @click="checkedItem" class = "doneTodo">' +
                    '<span>{{content}}</span>' +
                '</li>',
                data: function(){
                    return{
                        checked: '',
                    }
                },
                methods:{
                    checkedItem: function(){
                        this.checked = this.checked === 'checked' ? '' : 'checked';
                    }
                }
            };

            var container = new Vue({
                el:'#container',
                data:{
                    inputValue: '',
                    list: [],
                    filterList: ['All','Active','Complete']
                },
                methods:{
                    addItem: function(){
                        this.list.push(this.inputValue);
                        this.inputValue = '';
                    }
                },
                computed:{
                    /*filterList: function(){
                        
                    }*/
                },
                components:{
                    ListItem: listItem,
                    MyFilter: myFilter
                }
            });
        </script>
    </body>
</html>